<div class="row text-center">
    <div class="col-md-3" id="left_side">
        <h1 id="header_h">Stay Home</h1>
        <h1 id="header_s">Stay Safe</h1>
        <h5 id="header_g">Get Latest Corona Details in Sri Lanka</h5>
        <button class="btn btn-danger" style="align-items: center;margin-top:30px;margin-bottom: 30px;" (click)="navigatedashboard()">Go to the dashboard</button>
    </div>
    <div class="col-md-9" style="background-color: black;" id="right_side">
        <img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/news/food-safety-quality/covid-19-and-food-this-virus-is-sensitive-to-cooking-temperatures/10810118-1-eng-GB/COVID-19-and-food-This-virus-is-sensitive-to-cooking-temperatures_wrbm_large.jpg"
            style="width:100%;">
    </div>
</div>